@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900&display=swap');
<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display:400,400i&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif !important;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

* {
  box-sizing: inherit;
  outline: none;
=======
body {
	margin: 0;
	padding: 0;
	    font-family: "Playfair Display", serif !important;
	line-height: 1.5;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

* {
	box-sizing: inherit;
	outline: none;
>>>>>>> 7c03d59fd2d573b2afe34e6acbe7676f8ea3f3bd
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
<<<<<<< HEAD
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 60px !important;
  margin-bottom: 80px !important;
}

.circlechart .success-stroke {
  stroke: rgb(65, 34, 142);
}

.fluid_box {
  max-width: 100%;
  padding: 0px 100px;
  margin: 0 auto;
  position: relative;
}

.fluid_box:after {
=======
	margin: 0;
	padding: 0;
}
.circlechart .success-stroke{
  stroke: rgba(255,206,57);
  color: #fff;
}
.circlechart .circle-chart__info{
    fill: #fff;
}
.fluid_box{
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}
.fluid_box:after{
>>>>>>> 7c03d59fd2d573b2afe34e6acbe7676f8ea3f3bd
  content: "";
  display: block;
  clear: both;
}
<<<<<<< HEAD

.fix_box {
  max-width: calc(1170px - 20px);
  margin: 0 auto;
  position: relative;
}

.banner {
  background: #41228e;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  position: relative;
  overflow: auto;
}

.banner:after {
  content: "";
  display: block;
  clear: both;
=======
.fix_box{
  max-width: calc(970px - 20px);
  margin: 0 auto;
  position: relative;
  padding: 0px 10px;
>>>>>>> 7c03d59fd2d573b2afe34e6acbe7676f8ea3f3bd
}

.navbar {
  position: fixed;
<<<<<<< HEAD
  width: 100%;
  z-index: 100;
  padding: 15px 0px;
  margin: 0 auto;
  background: #41228e;
=======
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 15px 0px;
  background:#fff;
>>>>>>> 7c03d59fd2d573b2afe34e6acbe7676f8ea3f3bd
  font-family: sans-serif;
}

.navbar:after {
  display: block;
  clear: both;
  content: " ";
}

.menu {
  position: relative;
  float: right;
  list-style: none;
  padding: 10px 0px;
}
<<<<<<< HEAD

.menu li {
  display: inline-block;
  margin: 0px 15px;
}

.menu li a {
  text-align: center;
  color: #fff;
  font-size: 18px;
=======
.menu li{
  display: inline-block;
   margin: 0px 15px;
}
.menu li a {
  text-align: center;
  color: #333;
  font-size: 16px;
 
>>>>>>> 7c03d59fd2d573b2afe34e6acbe7676f8ea3f3bd
  transition: 0.2s all;
  font-weight: 600;
}

.menuhover .closebtn {
<<<<<<< HEAD
  display: none;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 50px;
  color: rgba(255, 206, 57);
}

.press {
  display: none;
  position: fixed;
  right: 20px;
  top: 20px;
  font-size: 30px;
}

=======
    display: none;
    position: absolute;
    top: 10px;
    right: 40px;
    font-size: 50px;
    color: #fff;
  }
.press {
  display: none;
  position: fixed;
  right: 10px;
  top: 20px;
  font-size: 30px;
}
>>>>>>> 7c03d59fd2d573b2afe34e6acbe7676f8ea3f3bd
.press span {
  display: block;
  margin: 6px;
  width: 30px;
  height: 3px;
<<<<<<< HEAD
  background: rgba(255, 206, 57);
=======
  background: #000;
>>>>>>> 7c03d59fd2d573b2afe34e6acbe7676f8ea3f3bd
}

.press:hover>span {
  background: #876;
}
<<<<<<< HEAD

.menu .active a {
  color: rgb(255, 206, 57);
  padding-bottom: 6px;
  border-bottom: 3px solid rgb(255, 206, 57);
}

.menu li a:hover {
  color: rgb(255, 206, 57);
  padding-bottom: 10px;
  border-bottom: 3px solid rgb(255, 206, 57);
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header_content {
  display: flex;
  width: 100%;
  height: 100vh;
  min-height: 500px;
  align-items: center;
  color: #fff;
  position: relative;
  z-index: 1;
}

.header_text {
  width: 100%;
  position: relative;
  margin-top: 100px;
  margin-left: 90px;
  font-family: sans-serif;
}

.header_text h3 {
  font-size: 3em;
  color: rgba(255, 206, 57);
}

.header_text h1 {
/*  font-size: 4em;
  text-transform: uppercase;
  font-family: sans-serif;*/

  background: url(../img/download.png)   -20px -20px no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 4em;
  background-size: cover;
}

.header_text p {
  font-size: 2em;
  margin: 0;
  line-height: 1.8;
}

.header_img_bx {
=======
.menu .active{
 color: #f77221;
 padding-bottom: 6px;
 border-bottom: 3px solid rgb(255,206,57);
}
 .menu li a:hover {
  color: #f77221;
  padding-bottom: 10px;
  border-bottom: 3px solid rgb(255,206,57);
}

.header_content{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column-gap:  20px;
    width: 100%;
    background: #fff;
    padding: 150px 0px 100px 0px;
}
.header_text{
text-align: right;
padding-right: 20px;
font-family: sans-serif;
}
.header_text h3{
font-size: 2em;
color: rgba(255,206,57);
}
.header_text h2{
    font-size: 3em;
    text-transform: uppercase;
    font-family: sans-serif;
}
.header_text p{
  font-size: 25px;
  margin:0;
  line-height: 1.8;
  color: #333;
}

.header_img_bx{
>>>>>>> 7c03d59fd2d573b2afe34e6acbe7676f8ea3f3bd
  background: url(../img/Rings.png);
  width: 100%;
  background-size: cover;
  background-position: center center;
<<<<<<< HEAD
  overflow: hidden;
=======
  overflow: hidden; 
>>>>>>> 7c03d59fd2d573b2afe34e6acbe7676f8ea3f3bd
  position: relative;
  display: flex;
  align-items: center;
}
<<<<<<< HEAD

.header_img_bx img {
=======
.header_img_bx img{
>>>>>>> 7c03d59fd2d573b2afe34e6acbe7676f8ea3f3bd
  margin: 0 auto;
  border-radius: 50%;
  max-width: 100%;
  display: block;
}
<<<<<<< HEAD

.h_call_email {
  width: 100%;
  flex-wrap: wrap;
  margin: 20px 0px;
  justify-content: space-between;
}

.h_call_email span {
  display: inline-block;
  min-width: 120px;
  padding: 10px 15px;
  background: #f5f3f3;
  border-radius: 30px;
  font-weight: 600;
  color: #333;
  font-size: 17px;
  margin: 10px 10px 10px 0px;
  transition: 0.5s ease-out;

}

.h_call_email span:hover {
  background: rgb(255, 206, 57);
}

.h_call_email span a {
  color: #333;
}

.leaf-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  bottom: 0;
}

.html_icon {
  width: 100px;
  position: absolute;
  z-index: 0;
  top: 15%;
  left: 10%;
  transform: translate(-15%, -10%);
}

.css_icon {
  width: 90px;
  position: absolute;
  z-index: 0;
  top: 50%;
  right: 5%;
  transform: translate(-50%, -5%);
}

.js_icon {
  width: 100px;
  position: absolute;
  z-index: 0;
  top: 30%;
  right: 35%;
  transform: translate(-30%, -35%);
}

.jquery_icon {
  width: 120px;
  position: absolute;
  z-index: 0;
  bottom: 8%;
  left: 10%;
  transform: translate(-8%, -10%);
}

.bs_icon {
  width: 100px;
  position: absolute;
  z-index: 0;
  top: 10%;
  right: 3%;
  transform: translate(-10%, -3%);
}

.ps_icon {
  width: 100px;
  position: absolute;
  z-index: 0;
  left: 8%;
  top: 30%;
  transform: translate(-8%, -30%);
}

.sass_icon {
  width: 100px;
  position: absolute;
  z-index: 0;
  top: -8%;
  right: 7%;
  transform: translate(-8%, -7%);
}

.resume{
position: absolute;
right: 2%;
top: 20%;
}
.resume a{
    background: #ddd;
    padding: 10px 15px;
    font-size: 1.2em;
    font-weight: 600;
    transition: 0.5s ease;
    box-shadow: 0px 18px 39.1px 6.9px rgba(224, 241, 255, 0.34) !important;
}
.resume a:hover{

   background: #fff;box-shadow: 0px 10px 30px 5px rgba(224, 241, 255, 0.34) !important;

}
.keep_connected {
  position: absolute;
  left: 5%;
  bottom: 10%;
  z-index: 1;
  font-weight: 600;
  align-items: center;
  margin: 30px 0px;
  transition: 0.5s ease;
}

.keep_connected span {
  margin-right: 20px;
}

.keep_connected .social {
  list-style-type: none;
}

.keep_connected .social li {
  display: block;
=======
.h_call_email{
display: flex;
width: 100%;
flex-wrap: wrap;
margin:20px 0px; 
justify-content: space-between;
}
.h_call_email span{
  display: inline-block;
  padding: 10px 15px;
  background:#f5f3f3;
  border-radius: 30px;
  font-weight: 600;
   color: #333;
   font-size: 17px;
   margin: 10px auto;
   transition: 0.5s ease-out;
}
.h_call_email span:hover{
background: rgb(255,206,57);
}
.h_call_email span a{
   color: #333;
}
.keep_connected{
  display: flex;
  width: 100%;
  flex-direction: row;
  float: right;
  font-weight: 600;
  align-items: center;
  margin: 30px 0px;
  justify-content: flex-end;
}
.keep_connected span{ margin-right: 20px; }
.keep_connected .social{
list-style-type: none;
}
.keep_connected .social li{
  display: inline-block;
>>>>>>> 7c03d59fd2d573b2afe34e6acbe7676f8ea3f3bd
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #f5f3f3;
<<<<<<< HEAD
  margin: 20px 5px;
  transition: 0.2s ease-out;
}

.keep_connected .social li a {
  color: #fff;
  font-size: 16px;
}

.keep_connected .social li:hover {
  box-shadow: 0px 0px 10px #999999;
  background: rgb(255, 206, 57);
  border: 1px solid rgb(255, 206, 57);
}

.Work_exp {
  width: 100%;
  padding: 80px 0px;
  position: relative;
}

.Work_exp>h2 {
  text-align: center;
  margin-bottom: 80px;
  font-family: sans-serif;
}

.grid_exp_bx {
  display: grid;
  grid-template-columns: 50% 50%;
}

.exp_bx {
  width: 100%;
  position: relative;
  text-align: center;
}

.exp_bx .logo_bx {
  width: 130px;
  height: 130px;
  background: #f4f5f9;
  margin: 0 auto 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  box-shadow: 0px 18px 39.1px 6.9px rgba(224, 241, 255, 0.34) !important;
}

.logo_bx img {
  max-width: 70%;
  margin: 0 auto;
}

.exp_bx h4 {
  color: rgba(255, 206, 57);
  line-height: 1.8;
  font-size: 1em;
  font-family: sans-serif;
}

.exp_bx h3 {
  font-size: 1.5em;
}

.exp_bx p {
  color: #939393;
}

.Skill {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  position: relative;
  padding: 80px 0px;
}

.Skill h2 {
  text-align: center;
  margin-bottom: 80px;
  font-family: sans-serif;
}

.skill_bx {
  display: grid;
  grid-template-columns: 33% 33% 33%;
=======
  margin: 0px 5px;
   transition: 0.2s ease-out;
}
.keep_connected .social li a{
  color: #999999;
  font-size: 16px;
 
}
.keep_connected .social li:hover{
  box-shadow: 0 0 10px #999999;
  background: rgb(255,206,57);
}
.Work_exp{
  background: #f4f5f9;
  width: 100%;
  padding: 100px 0px;
  position: relative;

}
.Work_exp > h2{
   font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  font-family: sans-serif;
}
.Work_exp_bx{
  display: grid;
  grid-template-columns: 40% 20% 40%;
 align-items: center;
  justify-content: center;
}
.Work_exp_bx:after{
  content: "";
  clear: both;
  display: block;
}
.l_box{
  float: left;
  text-align: right;
  padding-right: 30px;
  min-height: 180px;
}
.r_box{
  text-align: left;
  padding-left: 30px;
  min-height: 180px;
}

.Work_exp_bx1{
  display: grid;
  grid-template-columns: 40% 20% 40%;
  align-items: center;
  justify-content: center;
}
.Work_exp_bx1:after{
  content: "";
  clear: both;
  display: block;
}
.l_box1{
  float: left;
  text-align: right;
  padding-right: 30px;
  min-height: 180px;
}
.r_box1{
  text-align: left;
  padding-left: 30px;
  min-height: 180px;
}
.l_box h3, .r_box1 h3{
  color: rgba(255,206,57);
  line-height: 1.8;
}
.l_box h2, .r_box1 h2{
  font-size: 30px;
}
.exp_comp_logo{
  float: left;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  background:#fff;
  display: flex;
  align-items: center;
  border-radius: 50%;
 margin-bottom: 100px;
}
.exp_comp_logo1{
  float: left;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  background:#f4f5f9;
  display: flex;
  align-items: center;
  border-radius: 50%;
 margin-bottom: 100px;
}
.vertical{
  position: absolute;
  left: 50%;
  top: 100%;
  margin: 0;
  transform: translate(-50% , 0%);
    width: 4px;
  height:100%;
  background: #fff;
  border:none;
  z-index: 0;
}
.exp_comp_logo img{
  display: block;
  width: 50px;
  margin: 0 auto;
  }

.Skill{
   background:linear-gradient(rgba(0,0,0,0.5),rgba(255,206,57,0.5)), url(../img/skill.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
  width: 100%;
  position: relative;
  padding: 100px 0px;
 
}
.Skill h2{
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin-bottom: 30px;
  font-family: sans-serif;
}
.skill_bx{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-bottom: 50px;
>>>>>>> 7c03d59fd2d573b2afe34e6acbe7676f8ea3f3bd
  text-align: center;
  grid-row-gap: 50px;
}

.skill_bx .progress-bar div {
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.skill_bx .progress-bar div span {
  position: absolute;
  font-family: Arial;
  font-size: 20px;
  line-height: 228px;
  height: 175px;
  width: 175px;
  left: 12.5px;
  top: 12.5px;
  text-align: center;
  border-radius: 50%;
  background-color: white;
}
<<<<<<< HEAD

.skill_bx .progress-bar .words {
  position: absolute;
  line-height: 180px;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 1;
  font-size: 25px;
  width: 100%;
}

.skill_bx .progress-bar .background {
  background-color: #b3cef6;
}
=======
.skill_bx .progress-bar .words{
    position: absolute;
    line-height: 180px;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 25px;
        width: 100%;
}
.skill_bx .progress-bar .background { background-color: #b3cef6; }
>>>>>>> 7c03d59fd2d573b2afe34e6acbe7676f8ea3f3bd

.skill_bx .progress-bar .rotate {
  clip: rect(0 100px 200px 0);
  background-color: #4b86db;
}

.skill_bx .progress-bar .left {
  clip: rect(0 100px 200px 0);
  opacity: 1;
  background-color: #b3cef6;
}

.skill_bx .progress-bar .right {
  clip: rect(0 100px 200px 0);
  transform: rotate(180deg);
  opacity: 0;
  background-color: #4b86db;
}

<<<<<<< HEAD
@keyframes toggle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Education {
  width: 100%;
  position: relative;
  padding: 80px 0px;
  /*  background: url(../img/education-bg.png) no-repeat;
  background-position: center -250px;
  background-size: cover;*/
  width: 100%;
}

.Education h2 {
  text-align: center;
  margin-bottom: 80px;
  font-family: sans-serif;
}

.Qualifiction_grid {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

.Qualifiction {
  width: calc(100% - 20px);
  padding: 10px;
  display: flex;
  position: relative;
  transition: 0.5s ease;
}

.Qualifiction:not(:last-child) {
  margin-bottom: 30px;
}

.passing_year {
  width: 30%;
  padding-left: 10px;
  float: left;
}

.passing_year span {
  font-size: 25px;
}

.passing_year .icon-bg {
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 35px;
  border-radius: 50%;
  text-align: center;
  color: #c8d5ef;
  background: #fff;
  box-shadow: 0px 18px 39.1px 6.9px rgba(224, 241, 255, 0.34) !important;
}

.Qualifiction_desc {
  width: 70%;
  float: left;
  line-height: 1.8;
}

.Qualifiction_desc p {
  font-size: 20px;
  margin: 0px;
  font-family: sans-serif;
}

.Qualifiction_desc h5 {
  color: #999999;
  font-family: sans-serif;
  font-size: 16px;
}

.Qualifiction_desc span {
  color: #999999;
  font-family: sans-serif;
}

.education-bg {
  width: 100%;
  z-index: -1;
  position: absolute;
  left: 0;
  top: -300px;
}

.Portfolio {
  padding: 100px 0px;
  position: relative;
  width: 100%;
}

.Portfolio h2 {
  text-align: center;
  margin-bottom: 80px;
  font-family: sans-serif;
}

.Portfolio_boxes {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
}

.Portfolio_bx {
  position: relative;
  width: calc(100% - 20px);
  height: auto;
  padding: 10px;
}

.img_hov {
  position: relative;
  opacity: 1;
  display: block;
  width: 100%;
=======
@keyframes 
toggle {  0% {
 opacity: 0;
}
 100% {
 opacity: 1;
}
}
.Education{
  background:#fff;
  padding: 100px 0px; 
  width: 100%;
  position: relative;


}
.Education h2{
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
  font-family: sans-serif;
}
.Education_table{
   border-collapse: collapse;
  table-layout: auto;
  width: 100%;
  text-align: center;

}
.Education_table th{
background:rgb(255,206,57);
color: #fff;
font-size: 18px;
}

.Education_table tr,th, td {
  padding: 20px;
   border: 1px solid #ddd;
}
.Qualifiction_grid{
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-column-gap: 20px;
}
.Qualifiction{
width: 100%;
height: 200px;
display: flex;
margin-bottom: 30px;
position: relative;
padding-top: 20px;
transition: 0.5s ease;
}
.Qualifiction:hover{box-shadow: 0px 0px 10px #ddd;}
.school{
/*background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/22918-NU6SNY.jpg);*/
background-repeat: no-repeat;
background-size: cover;
background-position: center center; 
background: rgba(255,206,57,0.8);
width: 100%;
/*border-radius: 10px;*/
}
.passing_year{
width: 20%;
padding-left: 10px;
float: left;
}
.passing_year span{
  font-size: 25px;
}
.Qualifiction_desc{
  width: 80%;
  float: left;
  line-height: 1.8;
}
.Qualifiction_desc span:nth-child(1){
  font-size: 18px;
  display: inline-block;
}
.Qualifiction_desc span:nth-child(2){
  font-size: 16px;
}

.Portfolio{
  padding: 100px 0px;
  position: relative;
  width: 100%;
  background: #f4f5f9;
}
.Portfolio h2{
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
  font-family: sans-serif;
}
.Portfolio_boxes{
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  grid-gap: 30px;
  overflow: hidden;
  flex-wrap: wrap;
}
.Portfolio_bx{
  position: relative;
  width: 100%;
  height: 100%;
}
.img_hov {
  opacity: 1;
  display: block;
  width: 100%;
  max-height: 300px;
>>>>>>> 7c03d59fd2d573b2afe34e6acbe7676f8ea3f3bd
  transition: .5s ease;
  backface-visibility: hidden;
}

<<<<<<< HEAD
.img_hov img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.middle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: sans-serif;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(255, 206, 57, 0.88);
  color: #000;
  font-size: 16px;
  padding: 16px 32px;
}

.Portfolio_bx:hover .img_hov {
  opacity: 1;
=======
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
 
}

.Portfolio_bx:hover .img_hov {
  opacity: 0.3;
   background: rgb(255,206,57);
>>>>>>> 7c03d59fd2d573b2afe34e6acbe7676f8ea3f3bd
}

.Portfolio_bx:hover .middle {
  opacity: 1;
<<<<<<< HEAD
}

footer {
  padding: 100px 0px;
  background: #222222;
  color: #fff;
}

footer h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 80px;
  font-family: sans-serif;
}

.footer_grid {
  position: relative;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  height: auto;
  align-items: center;
  margin: 0 auto;
}

.footer_content {
  padding: 10px;
}

.footer_content h5 {
  color: #999999;
  font-size: 18px;
}

.footer_content p {
  font-size: 22px;
}

.footer_content p a {
  color: #fff;
}

.footer_content p .fa {
  margin-right: 10px;
}

@media(max-width:1200px) {
  .header_text {
    margin-left: 120px;
  }
  .education-bg {
    top: -150px;
  }
}

@media(max-width:991px) {
  .fluid_box {
    padding: 0px 10px;
  }
  .navbar {
    padding-top: 0px;
  }
  .menu {
    width: 100%;
    right: 0;
    position: relative;
    margin: 20% 0px 0px;
  }
  .menu li {
=======
   
}

.text {
  background: rgba(255,206,57,0.88);
  color: #000;
  font-size: 16px;
  padding: 16px 32px;
}
footer{
    padding: 100px 0px;
   background: rgb(255,206,57,0.9);
}
footer h2{
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
  font-family: sans-serif;
}
.contact{
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 auto;
}
.contact div {
  margin: 0 auto;
}
.f_contact{
  list-style-type: none;

}
.f_contact li{
  font-size: 20px;
  margin: 20px 0px;
}
.f_contact li .fa{
  margin-right: 20px;
}

@media(max-width:762px) {

  .header_img_bx{
    min-height: 350px;
  }
  .header_text{
    text-align: center;
  }
  .header_text h3 {
    font-size: 1.5em;
  }
  .header_text h2 {
    font-size: 2em;
  }
  .header_text p {
    font-size: 20px;
  }
  .h_call_email{
        justify-content: center;
            margin: 20px 0px;
  }
  .h_call_email span{
      padding: 10px 15px;
        font-size: 15px;
        margin: 10px 10px;
  }
  .keep_connected{
    justify-content: center;
  }
  .sticky{
    position: relative;
  }
  .navbar{
        padding-top: 0px;
  }
  .menu {
    width:100%;
    right: 0;
    position: relative;   
    margin: 20% 0px 0px;    
  }
  .menu li{
>>>>>>> 7c03d59fd2d573b2afe34e6acbe7676f8ea3f3bd
    display: block;
    margin: 0px;
  }
  .menu li a {
    display: block;
<<<<<<< HEAD
    padding: 10px;
    font-size: 25px;
    border-bottom: none;
  }
  .menu li:hover a {
    color: #000;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
  }
=======
    text-align: center;
    padding: 10px;
    margin: 0;
    border-bottom: 2px solid #fff;
    color: #fff;
  }
  .menu li:hover a{
  color: #000;
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
}
>>>>>>> 7c03d59fd2d573b2afe34e6acbe7676f8ea3f3bd
  .menuhover {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
<<<<<<< HEAD
    background-color: rgb(65, 34, 142);
    overflow-y: hidden;
    transition: 0.5s;
  }
  .press {
=======
    background-color:rgba(255,206,57);
    overflow-y: hidden;
    transition: 0.5s;
  }
.press {
>>>>>>> 7c03d59fd2d573b2afe34e6acbe7676f8ea3f3bd
    display: block;
    cursor: pointer;
    z-index: 1;
  }
<<<<<<< HEAD
  .menuhover .closebtn {
    display: block;
  }
  .menu .active {
    border-bottom: none;
  }
  .menu li a:hover {
    border-bottom: none;
  }
  .navbar {
    padding: 0px;
  }
  .header_text {
    margin-left: 120px;
  }
  .header_text h3 {
    font-size: 2.7em;
  }
  .header_text h1 {
    font-size: 3.7em;
  }
  .header_text p {
    font-size: 1.7em;
  }
  .h_call_email {
    margin: 0;
  }
  .h_call_email p {
    font-size: 16px;
  }
    .menu .active a{
    border-bottom: none;
  }
}

@media(max-width:762px) {
  h2 {
    font-size: 50px !important;
    margin-bottom: 50px !important;
  }
  .header_img_bx {
    min-height: 350px;
  }
  .header_text {
    margin-top: 0;
  }
  .header_text h1 {
    font-size: 2.7em !important;
  }
  .h_call_email {
    justify-content: center;
    margin: 20px 0px;
  }
  .sticky {
    position: relative;
  }
  .navbar {
    padding-top: 0px;
  }
  .header_content {
    grid-template-columns: 100%;
    padding: 70px 0px 0px 0px;
  }
  .keep_connected {
    left: 3%;
  }
  .circle-chart {
    width: 130px;
    height: 130px;
  }
  .Skill {
    padding: 50px 0px;
  }
  .skill_bx {
    grid-template-columns: 50% 50%;
  }
  .Skill h2 {
    font-size: 30px;
  }
  .Qualifiction {
    text-align: center;
  }
  .Qualifiction_grid {
    grid-template-columns: 100%;
  }
  .Work_exp {
    padding: 50px 0px 0px 0px;
  }
  .exp_bx {
    padding-bottom: 40px;
  }
  .grid_exp_bx {
    grid-template-columns: 100%;
  }
  .Portfolio {
    padding: 50px 0px;
  }
  .Portfolio_boxes {
    grid-template-columns: 100%;
    padding: 0px 10px;
  }
  .Education {
    padding: 50px 0px;
  }
  .education-bg {
    top: -100px;
  }
  .contact div {
    margin: 0;
  }
  footer {
    padding: 50px 10px;
  }
  .footer_grid {
    grid-template-columns: 100%;
  }

}
=======
  .menuhover .closebtn{
    display: block;
  }

  .header_content{
    grid-template-columns: 100%;
        padding: 70px 0px 0px 0px;
  }
  .skill_bx{
    grid-template-columns: 50% 50%;
  }
  .Skill h2{
    font-size: 30px;
  }
  .circle-chart{
        width: 130px;
    height: 130px;
  }
  .Education h2{
    font-size: 30px;
  }
  .Work_exp{
        padding: 100px 0px 0px 0px;
  }
  .Work_exp_bx{
    grid-template-columns: 30% 0% 70%; 
  }
  .Work_exp_bx1{
       grid-template-columns: 30% 0% 70%;
  }
  .Work_exp > h2{
    font-size: 30px;
  }
  .l_box{
    order: 1;
    text-align: left;
    padding-left: 30px;
    padding-right: 20px;
  }
  .l_box1{
    display: none;
    order: 1;
  }
  .r_box1{
    order: 2;
    padding-right: 20px;
  }
  .l_box h2, .r_box1 h2{
        font-size: 25px;
  }
  .l_box h3, .r_box1 h3{
    font-size: 17px;
  }
  .contact div {
    margin: 0;}
    .Portfolio_boxes{
      grid-template-columns:100%;
      padding: 0px 10px;
    }
    .Qualifiction_grid{
    	    grid-template-columns: 100%;
    }
    footer{
          padding: 50px 10px;
    }
    footer h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }

    .contact{
    grid-template-columns: 100%;
  }
 .f_contact li {
    font-size: 17px;
    margin: 10px 0px;
}
}
>>>>>>> 7c03d59fd2d573b2afe34e6acbe7676f8ea3f3bd
